.h_actionbar{
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    position:fixed;
    height: 70px;
    padding-top: 10px;
	box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
}

.position_right{
    display: table;
    float: right;
    right: 20px;

}

.position_left{
    display: table;
    float: left;
    left: 20px;

}


.inside_partly{
    display: table;
    float: right;
    margin-right: -45px !important;
}


.position_icon_actionbar{
    display: table;
    float: left;
    left: 20px;
    margin-top: 6px;
    cursor: pointer;

}

.position_actions_tertiary{
    left: 40px;
}
